@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 24px;
    margin-right: 12px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background: #1F2937;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    gap: 12px;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.one {
    display: flex;
    background: #1F2937;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

.sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

.image {
    border-radius: 5px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}

.button {
    cursor: pointer;
    width: max-content;
    padding: 8px;
    background: #3882F6;
    color: #E5E7EB;
    border: 0px;
    border-radius: 10px;
    font-weight: bold;
}